<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航开始-->
<nav class="ui inverted attached segment m-padding-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary  menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="../index.html" class=" m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="../types.html" class="m-item  item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="../tag.html" class="m-item  item m-mobile-hide"><i class="mini tag1s icon"></i>标签</a>
            <a href="../archives.html" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="../about.html" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <input type1="text" placeholder="Search.....">
                    <i class=" search  link icon"></i>
                </div>
            </div>

        </div>

    </div>
</nav>
<!--导航结束-->

<!--中间部分开始-->
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-container-small m-margin-top-big">
        <div class="ui error message m-padded-tb-huge">
            <div class="ui container">
                <h3>error</h3>
                <p>对不起，异常，请联系管理员</p>

        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
    <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
    <ul th:remove="tag">
        <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>
<!--中间部分结束-->


<!--底部开始-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-padded-tb-huge">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="ui inverted link list">
                <div class="ui item">
                    <img src="../../static/images/weichat.jpg" class="ui rounded image" style="width: 110px">
                </div>
            </div>


            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：wenyu0o@163.com</a>
                    <a href="#" class="item m-text-thin">17887230657</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>

            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 wenyu Designed by wenyu</p>
    </div>


</footer>
<!--底部结束-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>